@import "tailwindcss";

html,
body,
:root {
  height: 100%;
}

/* Track */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1 !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888 !important;
  border-radius: 20px !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555 !important;
}

/* Firefox */
html,
body,
:root {
  /* thin | auto | none */
  scrollbar-width: thin;
  /* thumb color then track color */
  scrollbar-color: #888 #f1f1f1;
}

/* optional: change color on element hover (Firefox doesn't support thumb hover pseudo) */
*:hover {
  scrollbar-color: #555 #f1f1f1;
}

img {
  height: auto;
}

.leaflet-bottom,
.leaflet-control,
.leaflet-pane,
.leaflet-top {
  z-index: 0 !important;
}

.rdrMonth {
  width: 100% !important;
}

.rdrCalendarWrapper {
  width: 100% !important;
  font-size: 16px !important;
}
